<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>登入</legend>
        <form method="post">
            ID : <input type="text" name="id"><br>
            使用者代號 : <input type="text" name="markname"><br>
            密碼 : <input type="password" name="password"><br>
            <input type="submit" value="送出">
        </form>
        <div th:if= "${validshow}">
            <h3>登入通知</h3>
            <p th:text="${msg}"></p>
        </div>
    </fieldset>

</body>
</html>